<template>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">{{ title }} Paciente</h4>
        </div>
        <div class="card-body">
            <form-errors :errors="errors"></form-errors>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Nro. Registro" 
                               v-model="record.register_number">
                    </div>
                </div>
            </div>
            <h5 class="card-title mt-3 mb-3">Datos de la Madre</h5>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control form-control-sm" 
                                   placeholder="Cédula de Identidad" 
                                   v-model="record.mother.identity_card" 
                                   aria-describedby="identity_card_search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" 
                                        id="identity_card_search" @click="searchMother()">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 offset-md-6">
                    <div class="form-group">
                        <input type="date" class="form-control form-control-sm" :readonly="motherExists"
                               placeholder="Fecha de Nacimiento" v-model="record.mother.birthdate">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Primer Apellido" 
                               v-model="record.mother.first_surname" :readonly="motherExists">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Segundo Apellido" 
                               v-model="record.mother.second_surname" :readonly="motherExists">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Primer Nombre" 
                               v-model="record.mother.first_name" :readonly="motherExists">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" :readonly="motherExists" 
                               placeholder="Inicial Segundo Nombre" v-model="record.mother.middle_name">
                    </div>
                </div>
            </div>
            <h5 class="card-title mt-3 mb-3">Datos del Paciente</h5>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" v-model="record.sex">
                            <option value="">-- Sexo --</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3 offset-md-6">
                    <div class="form-group">
                        <input type="date" class="form-control form-control-sm" 
                               placeholder="Fecha de Nacimiento" v-model="record.birthdate">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Primer Apellido" 
                               v-model="record.first_surname">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Segundo Apellido" 
                               v-model="record.second_surname">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Primer Nombre" 
                               v-model="record.first_name">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" 
                               placeholder="Inicial Segundo Nombre" v-model="record.middle_name">
                    </div>
                </div>
            </div>
            <h5 class="card-title mt-3 mb-3">Historia Clínica</h5>
            <div class="row">
                <div class="col-12 col-md-3">
                    <input type="text" class="form-control form-control-sm" 
                           placeholder="Nro. historia" v-model="record.medical_record.number">
                </div>
                <div class="col-12 col-md-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="firstSample" 
                               v-model="record.medical_record.first_sample" :value="true">
                        <label class="custom-control-label" for="firstSample">
                            1era muestra
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="secondSample" 
                               v-model="record.medical_record.second_sample" :value="true">
                        <label class="custom-control-label" for="secondSample">
                            2da muestra
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <input type="date" class="form-control form-control-sm" 
                           placeholder="Fecha toma de muestra" v-model="record.medical_record.sample_taken_at">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" 
                               placeholder="Peso al nacer (gr)" v-model="record.medical_record.birth_weight">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" 
                               placeholder="Duración de embarazo (sem)" 
                               v-model="record.medical_record.pregnancy_duration">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="takeAntibiotics" 
                               v-model="record.medical_record.take_antibiotics" :value="true">
                        <label class="custom-control-label" for="takeAntibiotics">
                            Toma antibióticos
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="background" 
                               v-model="record.medical_record.background" :value="true">
                        <label class="custom-control-label" for="background">
                            Trasfundo
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" 
                                v-model="record.medical_record.birth_type">
                            <option value="">-- Tipo de parto --</option>
                            <option value="N">Normal</option>
                            <option value="F">Fórceps</option>
                            <option value="C">Cesárea</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" 
                                v-model="record.medical_record.consanguineous_parents">
                            <option value="">-- Padres consanguíneos --</option>
                            <option :value="true">Sí</option>
                            <option :value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" 
                                v-model="record.medical_record.lactation_type">
                            <option value="">-- Tipo de lactancia --</option>
                            <option value="M">Materna</option>
                            <option value="A">Artificial</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <router-link :to="{name: 'patients'}" class="btn btn-light">
                Cancelar
            </router-link>
            <button type="button" class="btn btn-primary" @click="setRecord(url, '/patients')">
                Guardar
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: '',
                errors: [],
                motherExists: false,
                record: {
                    register_number: '',
                    sex: '',
                    birthdate: '',
                    first_surname: '',
                    second_surname: '',
                    first_name: '',
                    middle_name: '',
                    mother: {
                        identity_card: '',
                        birthdate: '',
                        first_surname: '',
                        second_surname: '',
                        first_name: '',
                        middle_name: ''
                    },
                    medical_record: {
                        number: '',
                        sample_taken_at: '',
                        first_sample: false,
                        second_sample: false,
                        birth_weight: '',
                        pregnancy_duration: '',
                        take_antibiotics: false,
                        background: false,
                        birth_type: '',
                        consanguineous_parents: '',
                        lactation_type: ''
                    }
                },
                url: `${window.url}/api/v1/patients`
            }
        },
        methods: {
            async searchMother() {
                const vm = this;
                await axios.post(`${window.url}/api/v1/search-mother`, {
                    identity_card: vm.record.mother.identity_card
                }).then(response => {
                    vm.record.mother = response.data.result;
                    if (!response.data.result) {
                        toastr.warning('No existen registros con la cédula indicada. Debe agregar los datos de la madre');
                        vm.record.mother = {
                            identity_card: '',
                            birthdate: '',
                            first_surname: '',
                            second_surname: '',
                            first_name: '',
                            middle_name: ''
                        };
                    }
                }).catch(error => {
                    console.error(error);
                });
            }
        },
        mounted() {
            const vm = this;
            if (typeof(vm.$route.params.id) !== 'undefined' && vm.$route.params.id) {
                vm.getRecord(`${vm.url}/${vm.$route.params.id}`);
                vm.title = 'Editar';
            }
        }
    };
</script>