<template>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">{{ title }} Enfermedad</h4>
        </div>
        <div class="card-body">
            <form-errors :errors="errors"></form-errors>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Nombre" v-model="record.name">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <router-link :to="{name: 'diseases'}" class="btn btn-light">
                Cancelar
            </router-link>
            <button type="button" class="btn btn-primary" @click="setRecord(url, '/diseases')">
                Guardar
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: '',
                errors: [],
                record: {
                    name: ''
                },
                url: `${window.url}/api/v1/diseases`
            }
        },
        mounted() {
            const vm = this;
            if (typeof(vm.$route.params.id) !== 'undefined' && vm.$route.params.id) {
                vm.getRecord(`${vm.url}/${vm.$route.params.id}`);
                vm.title = 'Editar';
            }
        }
    };
</script>