<template>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">{{ title }} Organismo</h4>
        </div>
        <div class="card-body">
            <form-errors :errors="errors"></form-errors>
            <div class="row">
            	<div class="col-12">
            		<img src="" alt="">
            	</div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" v-model="record.state_id">
                            <option value="">--Estado--</option>
                            <option :value="state.id" v-for="state in states">
                                {{ state.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Nombre" v-model="record.name">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <router-link :to="{name: 'organisms'}" class="btn btn-light">
                Cancelar
            </router-link>
            <button type="button" class="btn btn-primary" @click="setRecord(url, '/organisms')">
                Guardar
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: '',
                errors: [],
                states: [],
                record: {
                	image: '',
                    name: '',
                    state_id: '',
                },
                url: `${window.url}/api/v1/organisms`
            }
        },
        mounted() {
            const vm = this;
            if (typeof(vm.$route.params.id) !== 'undefined' && vm.$route.params.id) {
                vm.getRecord(`${vm.url}/${vm.$route.params.id}`);
                vm.title = 'Editar';
            }
            vm.getList(`${window.url}/api/v1/list/states`, 'states');
        }
    };
</script>