<template>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" :href="$parent.domain">
            <div class="sidebar-brand-icon">
                <img :src="setPathFile('img/gobierno.png')" class="img-fluid" alt="Logo">
            </div>
            <div class="sidebar-brand-text mx-3">
                Pesquisas<br>Neonatales
            </div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Panel de Control</span>
            </a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        <li class="nav-item">
            <a class="nav-link collapsed" href="javascrip:void(0)" data-toggle="collapse" data-target="#collapseSettings"
                aria-expanded="true" aria-controls="collapseSettings">
                <i class="fas fa-fw fa-cog"></i>
                <span>Configuración</span>
            </a>
            <div id="collapseSettings" class="collapse" aria-labelledby="headingCollapseSettings" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">General:</h6>
                    <router-link :to="{name: 'genders'}" class="collapse-item">Género</router-link>
                    <router-link :to="{name: 'states'}" class="collapse-item">Estados</router-link>
                    <router-link :to="{name: 'cities'}" class="collapse-item">Ciudades</router-link>
                    <router-link :to="{name: 'organisms'}" class="collapse-item">Organismos</router-link>
                    <!--<router-link :to="{name: 'diseases'}" class="collapse-item">Enfermedades</router-link>-->
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="javascrip:void(0)" data-toggle="collapse" data-target="#collapseAccess"
                aria-expanded="true" aria-controls="collapseAccess">
                <i class="fas fa-fw fa-lock"></i>
                <span>Acceso</span>
            </a>
            <div id="collapseAccess" class="collapse" aria-labelledby="headingCollapseAccess" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <router-link :to="{name: 'users'}" class="collapse-item">Usuarios</router-link>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        <li class="nav-item">
            <a class="nav-link collapsed" href="javascrip:void(0)" data-toggle="collapse" data-target="#collapseRegisters"
                aria-expanded="true" aria-controls="collapseRegisters">
                <i class="far fa-fw fa-address-card"></i>
                <span>Registros</span>
            </a>
            <div id="collapseRegisters" class="collapse" aria-labelledby="headingCollapseRegisters" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <router-link :to="{name: 'patients'}" class="collapse-item">Pacientes</router-link>
                    <router-link :to="{name: 'results'}" class="collapse-item">Resultados</router-link>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</template>

<script>
    export default {};
</script>