<template>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">Usuarios</h4>
        </div>
        <div class="card-body">
            <div class="row my-4">
                <div class="col-12 text-right">
                    <router-link :to="{name: 'users-new'}" class="btn btn-primary btn-sm">
                        <i class="fas fa-plus"></i>
                        Nuevo
                    </router-link>
                </div>
            </div>
            <v-client-table :columns="columns" :data="records" :options="table_options">
                <div slot="type" slot-scope="props">
                    <span v-if="props.row.type==='ANT'">Analista</span>
                    <span v-if="props.row.type==='TRN'">Transcriptor</span>
                    <span v-if="props.row.type==='BNT'">Bioanalista</span>
                    <span v-if="props.row.type==='PCT'">Paciente</span>
                    <span v-if="props.row.type==='ADM'">Administrador</span>
                </div>
                <div slot="id" slot-scope="props" class="text-center">
                    <button type="button" class="btn btn-light" @click="editRecord('/users',props.row.id)" title="Editar registro" 
                            data-toggle="tooltip" :disabled="$parent.user.username===props.row.username">
                        <i class="fa fa-edit text-info"></i>
                    </button>
                    <button @click="deleteRecord(url, props.row.id)"  class="btn btn-light" title="Eliminar registro" 
                            data-toggle="tooltip" type="button" :disabled="$parent.user.username===props.row.username">
                        <i class="fas fa-trash text-info"></i>
                    </button>
                </div>
            </v-client-table>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                records: [],
                columns: ['username', 'email', 'type', 'id'],
                url: `${window.url}/api/v1/users`
            }
        },
        created() {
            this.table_options.headings = {
                'username': 'Nombre',
                'email': 'Correo',
                'type': 'Tipo',
                'id': 'Acción'
            };
            this.table_options.sortable = ['username', 'email'];
            this.table_options.filterable = ['username', 'email'];
            this.table_options.columnsClasses = {
                'id': 'col-2 text-center'
            };
        },
        mounted() {
            const vm = this;
            vm.getRecords(vm.url);
        }
    };
</script>