<template>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">{{ title }} Usuarios</h4>
        </div>
        <div class="card-body">
            <form-errors :errors="errors"></form-errors>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" v-model="record.type">
                            <option value="">-- Tipo --</option>
                            <option value="ADM">Administrador</option>
                            <option value="ANT">Analista</option>
                            <option value="TRN">Transcriptor</option>
                            <option value="BTN">Bioanalista</option>
                            <option value="PCT">Paciente</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" v-model="record.state_id" 
                                @change="getOrganisms">
                            <option value="">-- Estado --</option>
                            <option :value="state.id" v-for="state in states" :key="state.id">
                                {{ state.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" v-model="record.organism_id">
                            <option value="">-- Organismo --</option>
                            <option :value="organism.id" v-for="organism in organisms" :key="organism.id">
                                {{ organism.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Cédula" 
                               v-model="record.profile.identity_card">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Nombre(s)" 
                               v-model="record.profile.names">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Apellidos(s)" 
                               v-model="record.profile.surnames">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Usuario" v-model="record.username">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Correo" v-model="record.email">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <router-link :to="{name: 'users'}" class="btn btn-light">
                Cancelar
            </router-link>
            <button type="button" class="btn btn-primary" @click="setRecord(url, '/users')">
                Guardar
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: '',
                errors: [],
                states: [],
                record: {
                    username: '',
                    type: '',
                    state_id: '',
                    organism_id: '',
                    email: '',
                    profile: {
                        identity_card: '',
                        names: '',
                        surnames: ''
                    }
                },
                states: [],
                organisms: [],
                url: `${window.url}/api/v1/users`
            }
        },
        async mounted() {
            const vm = this;
            await vm.getList(`${window.url}/api/v1/list/states`, 'states');
            if (typeof(vm.$route.params.id) !== 'undefined' && vm.$route.params.id) {
                await vm.getRecord(`${vm.url}/${vm.$route.params.id}`);
                await vm.getOrganisms();
                vm.title = 'Editar';
            }
        }
    };
</script>